fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
python-dotenv
alembic
passlib[bcrypt]
python-jose[cryptography]
pytest
pydantic-settings
httpx
pydantic[email]
python-multipart
google-generativeai==0.5.4
pytest-cov
